<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hello_prompt_adventurex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6050C5B2E33717800D0F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6050C6C2E33717900D0F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6050C762E33717900D0F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
